body {
    font-family: Arial;
    background-color: #f4f7fa;
    text-align: center;
}
.container {
    background: white;
    border-radius: 12px;
    width: 40%;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px gray;
}
select, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
}
button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
